li{
    color:gray
}
video{
    width:780px;
    height:680px;
    background-color: red;
}

/*Selector por Atributo             */
img[src="jannik-sinner-forehand.jpg"]{ 
    width: 500px;
}
.pokemon-Escudo{
    color:blue;
}

.pokemon-Legends{
    color:red;
}
.primeraGen{
    color:#e3f;
}
/*Selector por Hijo directo             */
ul>li{
    font-size:20px;
}
/*Selector de hermano adyacente           */
h1+p{
    font-size: 30px;;
}
h1+p+p{
    color:#182e;
}



